.heading{
	text-align: center;
	color: #fff;
	background-color: #ffa500;
	padding: 4px;
	margin-left: 20px;
	margin-right: 20px;
}
.info{
	margin-left: 20px;
	color:#2e5cb8;
}
.information{
	font-size:18px;
	margin-left: 20px;
	margin-right: 20px;
}
.career{
	font-size:16px;
	margin-left: 20px;
}

.mydiv1{
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}

.mydiv2{
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
.table{
	text-align:center;
	background-color: #ddd;
	margin-left: 200px;
}
.mydiv3{
	
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
.mydiv4{
	
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
.mydiv5{
	
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
.mydiv6{
	
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
.mydiv7{
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
.personal{
	color:skyblue;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}
